
services:
  db:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: smart_events
      MYSQL_USER: dev
      MYSQL_PASSWORD: dev
    volumes:
      - ./mysql_data:/var/lib/mysql
    ports:
      - "3311:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    restart: always
    depends_on:
      - db
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "8080:80"
  mailcatcher:
    image: schickling/mailcatcher
    ports:
      - "1080:1080"  # Interface web
      - "1025:1025"  # SMTP
    restart: always